/* ==========================================================================
    Author's custom styles ==========================================================================
*/
body { 
	background: gray; 
	position: relative;
}

.text-arial {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.btn{

	background: transparent;
	color: #F2F2F2;

	/* CSS Transition */
	-webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
	-moz-transition: background .2s ease-in-out, border .2s ease-in-out;
	-ms-transition: background .2s ease-in-out, border .2s ease-in-out;
	-o-transition: background .2s ease-in-out, border .2s ease-in-out;
	transition: background .2s ease-in-out, border .2s ease-in-out;

}

.top-buffer { 
	margin-top:40px; 
}

.show-grid [class*="span"] {
    background-color: #6E7F80;
}

.color-white {
	color: white;
}

.box-layout {
    border: 2px solid #303030;
    padding: 10px 40px; 
    background: #484848;
    border-radius: 25px;
}